.boddy{
    background-color: #f4f4f4;
}

.card {
     width: 390px;
    height: 50px;
}
.top {
margin-top: 30px;
margin-left: 25px;  
width: 11%;
height: 13%;
border: 1px solid rgb(255, 255, 255);
}

.cuadroAl {
    background: #1f1f1f;
    width: 390px;
    height: 200px;
    
}

.cuadroAs {
    background: #27a550;
    width: 390px;
    height: 200px;  
}

.cuadroAr{
    background: #00a067;
    width: 390px;
    height: 200px;  
}

.cuadroArg{
    background: #9cc9f2;
    width: 390px;
    height: 200px;  
}

.cuadroAu{
    background: #efb500;
    width: 390px;
    height: 200px;  
}

.cuadroAus{
    background: #ed3d32;
    width: 390px;
    height: 200px;  
}

.cuadroBr{
    background: #ffcf25;
    width: 390px;
    height: 200px;  
}

.cuadroBe{
    background: #880029;
    width: 390px;
    height: 200px;  
}

.Tituloraro {
font-size: 36px;
margin-top: 70px;
margin-left: 25px;
text-align:left;
color: aliceblue;
}
.Ctitle {
font-size: 36px;
margin-top: 70px;
margin-left: 25px;
text-align:left;
color: black;
}
.Ctext {
text-align: left;
color:grey ;
}

.Ctext2 {
 text-align: right;
 font-weight: bold;
}

.Cbody{
margin-top: 25px;
height: 115px;

}

.Ctable {
margin-left: 25px;
width: 330px;
height: 90px;
}

.grid {
display: grid;
grid-template-columns: 390px 390px 390px 390px;
grid-column-gap: 30px;
grid-row-gap: 40px;
justify-content: center;
margin-top: 30px;
}

.cabeza1{
height: 40px;
background-color: black;
display: flex;
gap: 10px;
padding: 10px;
border-bottom: 1px solid grey
}
.cabeza2 {
height: 80px;
background-color: black;
display: flex;
gap: 10px;
margin-bottom: 50px;
padding: 20px;
position: relative;
}

.mover {
color: white;
font-size: small;
margin-left: auto;
padding-left: 10px;
}

.mover2 {
    color: white;   
    text-align: right;
    position: relative;
    margin-left: 25px;    
    left: 1230px;
}


.logo {
margin-left: 50px;
margin-top: 5px;
border: 15px solid #000000;
border-radius: 14%;
}

.menu{
    color: white;
    width: 35px;
    height: 35px;
  background-color: #ffffff26;
  border-radius: 50%;

}


.Titulo {
margin-left: 125px;
margin-top: 80px;
}

.fade-nav{
    position: absolute;
    right: 320px;
    top: 0;
    bottom: 0;
    width: 100px;
    background: linear-gradient(to right, transparent, black);
}

/* Actualizo sitio en un segundo commit */

